.bankLogo{
    height: 50px;
}
.inputHolder{
    p{
        margin-top: 10px;
        margin-bottom: 5px;
    }
    input{
        width: 100%;
        padding: 10px;
    }
    
}
.save{
    width: 30%;
    margin-top: 15px;
}
span {
    color: red;
}
small {
    color: red;
}