<div class="modal flex jc ac" *ngIf="loading || bankService.loading">
  <div class="spinner">
    <div class="cube1"></div>
    <div class="cube2"></div>
  </div>
</div>
<div class="flex jc ac col maxWidth">
  <img src="../../assets/images/main/bank.svg" class="bankLogo">
  <h2>Bank Account Details</h2>
  <div class="flex col inputHolder maxWidth">
    <p>Bank Name <span>*</span></p>
    <input type="text" class="form-control "  required [(ngModel)]="bankDetails.bankName" >
    <small>{{bankNameError}}</small>

    <p>User Name <span>*</span></p>
    <input type="text" class="form-control "  required [(ngModel)]="bankDetails.userName" >
    <small>{{userNameError}}</small>

    <p>Account Number <span>*</span></p>
    <input type="text" class="form-control "  required [(ngModel)]="bankDetails.accountNo" >
    <small>{{accountError}}</small>

    <p>IFC Code <span>*</span></p>
    <input type="text" class="form-control "  required [(ngModel)]="bankDetails.ifcCode" >
    <small>{{ifcError}}</small>
    <hr>
    <p>UPI Name (Optional)</p>
    <input type="text" class="form-control "  required [(ngModel)]="bankDetails.upi" >
  </div>
  <button type="button" class="btn save btn-outline-success btn-round"  (click)="saveDetails()">Save</button>
</div>