.contractCard {
    width: 100%;
    padding: 10px;
}
.create {
    margin: 10px;
}
.happy{
    height: 200px;
}
.contractLogo {
    height: 80px;

}
.data{
    span {
        font-weight: bold;
        padding-right: 5px;
    }
    .dataContainer{
        margin-left: 5px;
    }
   
}
.maxWidth{
    width: 100%;
}
.data {
    p {
        margin-top: 2px;
        margin-bottom: 2px;
    }
}
.contractSide {
    width: 30%;
}
.dataSide {
    width: 70%;
}