.newMessage {
    background-color: white;
    border-radius: 12px;
}
.notification {
    padding: 15px !important;
    h3 {
        margin-top: 0px !important;
    }
    h4 {
        margin-top: 0px !important;
    }
}