.formDiv {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

    input {
        width: 100%;
    }
}
.row {
    width: 100%;
}
.error {
    color: red;
}
.success {
    color: green;
}
.optDiv {
    input{
        width: 150px;
    }
  
}
.phoneLogo{
    height: 90px;
}
.confirmOTP{
    margin-left: 15px;
}
.controlButton {
    margin-top: 15px;
}